# Enviroment variables needed to connect to the LiveKit server.

LIVEKIT_API_KEY="API4f72hDkBwUgv"
LIVEKIT_API_SECRET="DWQX6HmXn48Snukv1ZHDoxSp2ifUPTDA3e6z87tBnso"
LIVEKIT_URL="wss://jaws-ai-6icygtxv.livekit.cloud"


# Agent dispatch (https://docs.livekit.io/agents/server/agent-dispatch)
# Leave AGENT_NAME blank to enable automatic dispatch
# Provide an agent name to enable explicit dispatch
AGENT_NAME= JAWSAI

# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID="jawsai-mn6fcj"
